* {
    margin: 0;
}

body {
    background-color: #202020;
}

@font-face {
    font-family: kenyc;
    src: url(/fonts/kenyc.ttf);
}


.navbar-container {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    width: 100%;
    height: 50px;

    background-color: #202020;
    z-index: 1;
}

/* sottosezione 1a: logo + motto */
.logoMotto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: 20px;
}

.logo {
    width: 30px;
    content: url(/imgs/logo.png);
}

.motto {
    margin-left: 5px;
    
    font-size: 1.8rem;
    font-family: kenyc;
    color: white;   
    letter-spacing: -0.5px;
}

/* sottosezione 1b: links */
.links-container {
    position: absolute;
    display: flex;
    right: 0;
    width: 120px;
    height: 35px;
    margin-right: 45px;
    margin-top: 5px;
}

.link-item {
    margin-right: 30px;
    width: 160px;
    height: 30px;
}

.link-item a {
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    text-decoration: none;
    color: #E9D985;
}

.link-item p:hover {
    transform: scale(1.2);
    font-weight: bold;
    color: #439A86;
    transition: 0.3s;
}

.link-item p:not(:hover) {
    transform: scale(1);
    font-weight: normal;
    color: #E9D985;
    transition: 0.3s;
}

/* SIMBOLO 3 LINEE */
.menu-icon {
    margin-left: 20px;

    color: white;
}

/* PROFILO */
.profilo {
    margin-top:4px;
    margin-left: 20px;
    width: 25px; 
    height: 25px;
    border: solid 1px white;
    background-color: black;
    border-radius: 50%;
    color: white;
}

/* Barra di ricerca */
.barra-ricerca {
    margin-left: 24%;

    display: flex;
    width: 550px;
    height: 35px;
    background-color: #121212;
    
    border: solid 1px #313131;
}

.cerca {
    display: flex;
    width: 60px;
    height: 35px;
    background-color: #313131;
    
    border: solid 1px #313131;
}

.microphone-container {
    margin-left: 20px;
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: #181818;
}

.hr1 {
    position: absolute;
    margin-right: 0px;
    margin-top: 5px;
    right: 0;
    width: 1650px;
    border: solid 1px #313131;
}

/* GENERI CONTAINER */
.generi-container {
    position: absolute;
    margin-right: 0px;
    margin-top: 15px;
    right: 0;
    width: 1650px;
    height: 40px;

    display: flex;
    flex-direction: row;
}

.genere {
    margin-top: 4px;

    width: 60px;
    height: 30px;
    border: solid 1px #404040;
    border-radius: 15px;
    background-color: #373737;
}

.genere:hover {
    background-color: white;
}

.genere-paragrafo {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-left: 9px;
    color: white;

    height: 20px;
    font-size: 0.9rem;
}

.genere-paragrafo:hover {
    color: #373737;
}

.spazio-genere {
    width: 10px;
}

/* VIDEO CONTAINER */
.video-container {
    
    position: absolute;
    margin-right: 0px;
    margin-top: 11px;
    right: 0;
    width: 1650px;
    height: 827px;

    background-color: #181818;
}

.riga-video {
    display: flex;
    width: 1500px;
    height: 300px;
    margin-top: 20px;
    margin-left: 70px;
}

.video {
    margin-top: 5px;
    width: 360px;
    height: 290px;
    cursor: pointer;
}

.copertina {
    width: 360px;
    height: 200px;
}

.titolo-container {
    position: relative;
    margin-top: 5px;
    width: 360px;
    height: 80px;
}

.titolo {
    position: absolute;
    top: 0;
    margin-top: 2px;
    margin-left: 60px;
    width: 200px;
    height: 70px;
}

/* PULSANTI NAVIGAZIONE */
.navigazione-container {
    position: absolute;
    left: 0;
    margin-top: -50px;
    width: 228px;
    height: 885px;
}

/* BTN NAVIGAZIONE */
.btn-navigazione {
    position: relative;
    width: 228px;
    height: 38px;
    background-color: #202020;
    color: white;

    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    letter-spacing: -1px;
    font-weight: 550;
}

.btn-navigazione:hover {
    background-color: #383838;
}

.btn-content {
    display: flex;
    margin-left: 20px;
    width: 160px;
    height: 30px;
}

.btn-scritta {
    margin-left: 50px;
    margin-top: 6px;
}

.icone-navigazione {
    position: absolute;
    width: 20px;
    margin-top: 4px;
}